@font-face  {
  font-family: "Helvetica";
  font-display: swap;
  src: url("./../fonts/HelveticaRegular.woff") format("woff"),
       url("./../fonts/HelveticaRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face  {
  font-family: "Helvetica";
  font-display: swap;
  src: url("./../fonts/HelveticaBold.woff") format("woff"),
       url("./../fonts/HelveticaBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
