.first-screen {

  &__wrapper {
    padding: 54px 0 30px;
  }

  &__block-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__header {
    font-weight: bold;
    font-size: 40px;
    line-height: 34px;
    color: $color;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
    
    span {
      color: $color-underline;
    }
  }

  &__img-wrapper {
    max-width: 521px;
    width: 100%;
  }

  &__text {
    margin-top: 23px;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    color: $color;
    max-width: 364px;
    padding-left: 10px;
  }

  &__info {
    padding: 30px 20px;
    background: $bg-c;
    border-radius: 10px;
    max-width: 920px;
    width: 100%;
    margin: 59px auto 0;

    svg {
      margin: -9px auto 0;
      display: flex;
    }
  }

  &__info-headr {
    color: $color;
    font-weight: bold;
    font-size: 32px;
    line-height: 45px;
    text-align: center;

    span {
      color: $info-c-link;
      display: block;
    }
  }

  &__gallery-top {
    margin-top: 60px;
  }

  &__info-text {
    color: $color;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    margin: 20px 0 -10px;

    span {
      color: $info-c-link;
      display: block;
    }
  }
}
